services:
  # --- BASE DE DONNÉES (PostgreSQL) ---
  postgres:
    image: postgres:15-alpine
    environment:
      # Doit correspondre à votre application.yml
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: organisationdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # --- CACHE (Redis) ---
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  # --- MESSAGING (Kafka Mode KRaft - Sans Zookeeper) ---
  kafka:
    image: bitnami/kafka:3.5
    ports:
      - "9092:9092"
    environment:
      # Configuration standard Bitnami pour accès localhost
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
    volumes:
      - kafka_data:/bitnami/kafka

volumes:
  postgres_data:
  kafka_data: